#configurations {
    .configuration-group .card-content-item input[type="checkbox"] {
        margin-right: 0.5rem;
    }

    .card-content-item {
        margin: 0.5rem 0;

        .select {
            display: block;
            width: 100%;

            select {
                width: 100%;
            }
        }
    }

    .footer-camera-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}