#notifications-page {
    .text-notification .subtitle {
        color: #fff;
    }

    .header {	 
        box-shadow: 2px 2px #008586;
        padding-left: 0.5rem;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
     
        .title {
            color: #fff;
            display: contents;
        }

        .notifications-configuration {
            display: inline;
            flex-direction: column;

            p {
                padding: 0 0.5rem;
            }

            .enabled {
                svg {
                    color: #008586;
                }
            }

            .disabled {
                svg {
                    color: rgb(170, 22, 22);
                }
            }

            .notifications-configuration-item {
                margin: 0.2rem 0.2rem 0.2rem 0;
                display: block;
                font-size: 1.2rem;
                
                p {
                    display: inline;
                }
            }
        }

        .datetimepicker-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            @media (max-width: 1237px) {                
                display: flex;
                flex-direction: column;
                padding-bottom: 0.5rem;                
            }
        }
    }
    
    #notifications-content .box {
        background-color: #191a1b;
        border: 1px solid #00858629;
        video {
            width: 100%;
        }

        .hour {
            color: #ffffff;
            align-self: flex-end;
            padding-top: 0.5rem;
            text-align: right;
        }
    }
    

    .buttons-navigator-notification {
        display: flex;
        justify-content: space-between;
        position: relative;

        .navigator-notification {            
            right: 0;
            color: #fff;
            border-radius: 0.35rem;
            padding: 1.3rem;
            border: 0.1rem solid white;
            width: 100%;
            margin: 0.5rem 0;

            &:hover {
                background-color: #000000d1;
                color: #00feff;
            }
            
            &.previous-notification {
                bottom: 60%;
                margin-right: 0.2rem;

                svg {
                    left: 10%;
                    position: absolute;
                }
            }
            
            &.next-notification {
                bottom: 20%;

                svg {
                    right: 10%;
                    position: absolute;
                }
            }

            span {
                margin-left: 0.2rem;
            }

            &.buton-uttermost-start, &.buton-uttermost-end {
                width: 20%;
                color: rgb(0, 169, 236);
            }
        }
    }

    .container-notification-video {
        display:flex;
        flex-direction: column;
        
        button {
            margin-bottom: 1rem;
        }
    }
}
