[submodule "webRecognize/WebRecognize"]
	path = webRecognize/WebRecognize
	url = https://github.com/enzo418/WebRecognize
[submodule "webRecognize/vendor/uWebSockets"]
	path = webRecognize/vendor/uWebSockets
	url = https://github.com/enzo418/uWebSockets
[submodule "webRecognize/vendor/nolitedb"]
	path = webRecognize/vendor/nolitedb
	url = https://github.com/enzo418/nolitedb
