*
*.*

!recognize
!recognize/src
!.gitignore
!src
!*.cpp
!*.hpp
!*.tpp
!CMakeLists.txt

# wxRecognize
!wxRecognize

# webRecognize
!webRecognize
!webRecognize/src/web
!webRecognize/src/web/app.js
!webRecognize/src/web/index.html
!webRecognize/src/web/assets/
!webRecognize/src/web/assets/*.css
!webRecognize/src/web/assets/*.js
!webRecognize/src/web/assets/*.svg
