*

!*.cpp
!*.hpp
!*.h
!*.md
!.gitignore
!*.js
!*.css
!*.scss
!*.json
!*.html
!.prettierrc

!src/
!src/tests/
!src/web/
!src/web/assets/
!src/web/src/
!src/web/src/modules/
!src/web/src/utils/
!src/web/src/components/
!src/web/src/components/Inputs

!CMakeLists.txt

package-lock.json
test_values.js