*

!*.cpp
!*.hpp
!*.h
!*.md
!.gitignore
!*.js
!*.css
!*.json
!*.html
!.prettierrc

!src/
!src/tests/
!src/web/
!src/web/assets/
!src/web/src/
!src/web/src/modules/
!src/web/src/utils/

!CMakeLists.txt

package-lock.json